<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .foot{
        margin-right: 5%;
    }
    h3{
        color: beige;
    }
    body {background-image:   linear-gradient(rgba(92, 78, 78, 0.5),rgba(66, 55, 12, 0.5)),
    url(http://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9); font-family: Arial, Helvetica, sans-serif;background-size: cover;
    background-position: center;}
* {box-sizing: border-box}
</style>


    <div class="container">
        <div class="footer-row">
            <div>
                <br>
                <br>
                <h3>Connect with me on:</h3>
                <a target="_blank" href="https://www.facebook.com/vroom.varun">
                    <i class="fa fa-facebook-official foot" style="font-size:48px;"></i>
                </a>
                <a target="_blank" href="https://github.com/varunatgit">
                    <i class="fa fa-github foot" style="font-size:48px;"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/_varun.kumar_">
                    <i class="fa fa-instagram foot" style="font-size:48px;"></i>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/varun-kumar-885337163/">
                    <i class="fa fa-linkedin foot" style="font-size:48px;"></i>
                </a>

                <a target="_blank" href="https://twitter.com/vroomvarun1">
                    <i class="fa fa-twitter" style="font-size:48px;"></i>
                </a>
            </div>
        </div>
    </div>
    </body>

    </body>
</html>
