<!DOCTYPE html>
<html>
    <head>
        <title>Developer's Choice</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
