<% include partials/header %>

    <div class="container">
        <h1 style="color:aqua">
            Known Skills to you
        </h1>

        <select name="technology"  required>
                <option value="Web Application">Front-end</option>
                <option value="Data Science">Back-end</option>
                <option value="Data Science">MEAN Stack</option>
                <option value="Data Science">Full Stack</option>
                <option value="AR/VR">AR/VR</option>
                <option value="Arduino">Arduino</option>
                <option value="Data Science">Data Science</option>
        </select>

        


    </div>

<% include partials/footer %>