
<style>
   *{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;

}


body {background-image:   linear-gradient(rgba(92, 78, 78, 0.5),rgba(66, 55, 12, 0.5)),
    url(http://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9); font-family: Arial, Helvetica, sans-serif;background-size: cover;
    background-position: center;}
* {box-sizing: border-box}
/* header{
   background-image:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
       url(phttp://codex-themes.com/schttps://fsb.zobj.net/crop.php?r=jyloP8oMeTHQG62qxcUTaokethGEQVkVRt-fCMwdFQsbT-9-R23-mEGP3pAcSkeDWTfgojn2Lc2ykg1_xthZSRFwVtUAUX1KXJfY5tpoMqwrXOalZDglCtYAnd7HTxOswiHkxpISh00diddyalia/wp-content/uploads/2014/12/footer-background-011.jpgexels-photo-533923.jpeg);
       height: 200vh;
    background-size: cover;
    background-position: center;

} */
ul{
    float: right;
    list-style-type:none;
    margin-top: 25px;


}
ul li{
    display:inline-block;
}
ul li a {
    text-decoration:none;
        color: white;
    padding: 5px 20px ;
     border: 1px solid #transparent  ;
    transition:  0.6s ease;


}.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

ul li a :hover{
     background-color:white;
    color: black;

}
ul li.active a{
    background-color: #fff;
    color: #000;

}
ul li{
    display:
}
.title{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}
.title h1
{ color:aliceblue;

    font-size: 70px; }

.main{
    max_width: 1200px;
    margin: auto;
}
.button{
     position:absolute;
    top: 70%;
    left: 55%;
    transform: translate(-50%,-50%);

}
.button1{
     position:absolute;
    top: 70%;
    left: 45%;

    transform: translate(-50%,-50%);

} .bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 70%;
  padding: 40px;
  text-align: center;
}
.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: =0.6s ;

}
.btn1{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: =0.6s ;

}
.btn:hover{
    background-color:#fff;
    color:black;
}
</style>
<body >
<header>
    <div class="main">

  
        <div class="title">


</div>

        </div>
        </header>
        <div class="button">
            <a href="/signup" class ="btn">Signup</a></div>
        <div class="button1">
            <a href="/login"  class="btn">Login</a></div>
        <div class="bg-text">

<h1 style="font-size:50px">Developers Choice</h1>
            <h2>Your Ideas ,Our Projects</h2>
</div>

</body>
