<% include partials/header %>
<style>

header{
   background-image:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
       url(phttp://codex-themes.com/schttps://fsb.zobj.net/crop.php?r=jyloP8oMeTHQG62qxcUTaokethGEQVkVRt-fCMwdFQsbT-9-R23-mEGP3pAcSkeDWTfgojn2Lc2ykg1_xthZSRFwVtUAUX1KXJfY5tpoMqwrXOalZDglCtYAnd7HTxOswiHkxpISh00diddyalia/wp-content/uploads/2014/12/footer-background-011.jpgexels-photo-533923.jpeg);
       height: 200vh;
    background-size: cover;
    background-position: center;

}

</style>
<div class="container">
    <h1 style="color: aqua;text-align:center">Project Description</h1>
    <h3>Project's Name:  <%=desserts.name%> </h3>
    <h3>Description: <%= desserts.description%></h3>
      <h3>Technology Used: <%= desserts.technology%></h3>
        <h3>Rated Level: <%= desserts.level%></h3>

    <br>
    <hr>

</div>

<% include partials/footer %>
